* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55 px rgba(0, 0, 0, 0.1);
}

.container .left-side {
  position: relative;
  background: #003147;
  padding: 28px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.hr {
  margin: 5px 0 5px 0;
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 1.36em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contactInfo {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: bottom 20px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}

.contactInfo ul li .text .linked {
  color: #fff;
  text-decoration: none;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #03a9f4;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
}

.contactInfo.skills .domain {
  color: #03a9f4;
  font-weight: 500;
}

.contactInfo.skills .ans {
  color: #fff;
  font-weight: 400;
}

.container .right-side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.about .box {
  margin: 20px 0;
}

.about .box .text {
  margin: 10px 0;
  color: #2a7da2;
  font-size: 16px;
}

.about .box .year h5 {
  margin: 5px 0;
}

.about .box .desc {
  margin-left: 20px;
}

.about .box .desc li {
  margin: 4px 0;
}
